#!/usr/bin/env bash
# set DBUSER, DBPASS, DBNAME
source mailcow.conf
# delete admin
docker exec -it $(docker ps -qf name=mysql-mailcow) mysql -u${DBUSER} -p${DBPASS} ${DBNAME} -e "DELETE FROM admin WHERE username='${mailcow_default_admin}';"
# delete TFA
docker exec -it $(docker ps -qf name=mysql-mailcow) mysql -u${DBUSER} -p${DBPASS} ${DBNAME} -e "DELETE FROM tfa WHERE username='${mailcow_default_admin}';"