#!/usr/bin/env bash
# set DBUSER, DBPASS, DBNAME
source mailcow.conf
# get hashed password
hashed_password=$(docker exec -it $(docker ps -qf name=dovecot-mailcow) doveadm pw -s SSHA256 -p ${random} | tr -d '\r')
# create changed admin
docker exec -it $(docker ps -qf name=mysql-mailcow) mysql -u${DBUSER} -p${DBPASS} ${DBNAME} -e "INSERT INTO admin (username, password, superadmin, active) VALUES ('${mailcow_admin}', '${mailcow_password}', 1, 1);"
